APP_NAME="SATU AYAT SEHARI"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=satu_ayat
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=satu_ayat

FILESYSTEM_DISK=local

MAIL_MAILER=log

FIREBASE_CREDENTIALS=storage/app/firebase/firebase.json

VITE_APP_NAME="${APP_NAME}"